<div class="sendImageWrapper">
    <script type="text/ng-template" id="imageFromURL.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">x</button>
            <h4>Image Preview</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <label>Image URL</label>
                    <p><input type="text" class="form-control" placeholder="Image URL" ng-model="image.url"></p>
                    <img class="preview" ng-src="{{image.url}}" ng-if="image.url"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!image.url" ng-click="send()">Send</button>
        </div>
    </script>
    <script type="text/ng-template" id="imageFromCam.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">x</button>
            <h4>Image Preview</h4>
        </div>
        <div class="modal-body">
            <div class="row" ng-if="!supported">
                <div class="col-sm-12">
                    <div class="alert alert-danger fade in">
                        WebCam not supported.
                    </div>
                </div>
            </div>
            <div class="row" ng-show="supported && permission">
                <div class="col-sm-12">
                    <video id="webcam" style="width: 100%;border-radius: 5px;" width="320" height="240" ng-show="!snapshotTaken"></video>
                    <canvas id="snapshot" style="width: 100%;border-radius: 5px;" ng-show="snapshotTaken" width="320" height="240"></canvas>
                </div>
            </div>
            <div class="row" ng-if="supported && !permission">
                <div class="col-sm-12">
                    <div class="alert alert-info fade in">
                        Camera access required.
                    </div>
                    <button class="btn btn-primary btn-block" ng-click="startWebcam()">Enable Access</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-if="supported && permission && !snapshotTaken" ng-click="snapshot()">Take Snapshot</button>
            <button class="btn btn-primary" ng-if="supported && permission && snapshotTaken" ng-click="resetSnapshot()">Reset Picture</button>
            <button class="btn btn-primary" ng-if="supported && permission && snapshotTaken" ng-click="send()">Send</button>
        </div>
    </script>
    <div class="dropup">
        <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">Send Image</button>
        <ul class="dropdown-menu">
            <li ng-click="openModal('url')"><a>From URL</a></li>
            <li ng-click="openModal('cam')"><a>Web Cam</a></li>
        </ul>
    </div>
</div>