<header class="app_header">
    <div class="col-xs-12">
        <div class="col-sm-4">
            <div class="logo" ui-sref="home">chatstik</div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <span ng-click="logout()" style="color: #fff;margin-top: 14px;" class="pull-right">logout</span>
        </div>
    </div>
</header>
<div class="dashboard_wrapper">
    <input type="text" ng-model="newChatRoom.name" class="form-control">
    <button class="btn btn-primary" ng-click="createChatroom()">Create Chatrrom</button>
    <div ng-repeat="room in chatrooms track by $index">
        <span>{{room.name}} - </span>
        <span>{{room.users.length}}</span>
        <button class="btn btn-xs btn-warning" ng-click="deleteChatroom(room, $index);">Delete</button>
    </div>
</div>