<div class="login-container animated fadeInDown col-sm-4" style="margin-top: 100px;">
    <div class="login_custom">
        <div class="widget">
            <div class="widget-body bordered-top bordered-palegreen">
                <div class="collapse in">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username:</label>
							<span class="input-icon icon-right">
								<input type="text" class="form-control" ng-model="user.username">
							</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password:</label>
							<span class="input-icon icon-right">
								<input type="password" class="form-control" ng-model="user.password">
							</span>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Login" ng-click="login(user.username, user.password);">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>