.popover {
  border-radius: 3px; }

.chatstik {
  font-family: 'Raleway', sans-serif; }
  .chatstik .typed-cursor {
    display: none; }
  .chatstik .dropdown-menu li:hover {
    cursor: pointer; }
  .chatstik .chatroom_success_message {
    padding: 20px;
    margin: 20px;
    border-radius: 0px;
    margin-bottom: 50px; }
  .chatstik .modal-content .modal-header {
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .chatstik .modal-content .modal-header .close {
      margin-top: 6px; }
  .chatstik .imageFromModal .preview {
    width: 200px;
    height: 200px;
    border-radius: 5px; }
  .chatstik header {
    height: 50px;
    background: #2C3E50;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #333; }
    .chatstik header .logo {
      color: #fff;
      font-family: cursive;
      font-size: 28px;
      padding-top: 4px;
      display: inline-block; }
    .chatstik header:hover {
      cursor: pointer; }
    .chatstik header .userName {
      color: #fff;
      text-align: right;
      margin-top: 14px;
      font-weight: bold; }
  .chatstik .home_wrapper {
    background: url(/resources/chatstik/styles/images/wallpaper.jpg);
    height: 650px;
    background-size: 400px;
    margin-top: -10px; }
    .chatstik .home_wrapper .start_chat {
      margin-top: 100px;
      font-size: 20px; }
    .chatstik .home_wrapper .agreement label {
      margin-left: 10px; }
    .chatstik .home_wrapper .type_introduction {
      width: 100%;
      height: 65px;
      /* background: #E57373; */
      color: #000;
      text-align: center;
      padding-top: 16px;
      font-size: 30px;
      /* text-decoration: underline; */
      margin-top: 20px;
      border-bottom: 1px solid #333;
      padding-bottom: 10px; }
  .chatstik .chat_wrapper {
    font-family: 'Raleway', sans-serif; }
    .chatstik .chat_wrapper .shareChatRoom textarea {
      border: 1px solid #ccc;
      resize: none;
      width: 225px;
      padding: 10px;
      font-size: 12px;
      margin: 10px; }
    .chatstik .chat_wrapper .chatroom_users_wrapper .chatroom_users_header {
      width: 100%;
      background: #f9f9f9;
      border: 1px solid #eee;
      padding: 15px; }
    .chatstik .chat_wrapper .chatroom_users_wrapper .chatroom_users_body {
      border: 1px solid #eee;
      border-top: none;
      overflow: auto;
      padding-top: 5px;
      min-height: 400px; }
      .chatstik .chat_wrapper .chatroom_users_wrapper .chatroom_users_body .user {
        padding: 10px;
        background: #fff;
        border-bottom: 1px solid #eee; }
      .chatstik .chat_wrapper .chatroom_users_wrapper .chatroom_users_body .user:nth-child(odd) {
        background: #f2f2f2; }
    .chatstik .chat_wrapper .chat_box .bg-white {
      background-color: #fff; }
    .chatstik .chat_wrapper .chat_box .chat_box_header {
      width: 100%;
      background: #f9f9f9;
      border: 1px solid #eee;
      padding: 15px;
      padding-left: 20px; }
      .chatstik .chat_wrapper .chat_box .chat_box_header .status_icon {
        float: left; }
        .chatstik .chat_wrapper .chat_box .chat_box_header .status_icon img {
          width: 25px;
          height: 25px;
          margin-top: -7px;
          margin-right: 10px; }
      .chatstik .chat_wrapper .chat_box .chat_box_header .status_text {
        margin-left: 20px;
        margin-top: -2px;
        font-size: 13px; }
      .chatstik .chat_wrapper .chat_box .chat_box_header .chatRoomName {
        text-align: center; }
    .chatstik .chat_wrapper .chat_box .chat_box_body {
      padding: 20px;
      border: 1px solid #eee;
      border-top: none;
      border-bottom: none;
      overflow: auto;
      padding-top: 5px;
      min-height: 400px; }
      .chatstik .chat_wrapper .chat_box .chat_box_body .alert {
        padding: 5px;
        margin-bottom: 0px; }
      .chatstik .chat_wrapper .chat_box .chat_box_body ul {
        list-style: none;
        margin: 0;
        padding: 0px; }
        .chatstik .chat_wrapper .chat_box .chat_box_body ul li {
          margin: 5px 0; }
          .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message {
            position: relative;
            font-size: 11px;
            padding: 10px;
            border: 1px solid #f1f5fc;
            word-wrap: break-word;
            padding-bottom: 0px; }
            .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message .header {
              font-size: 15px;
              padding-bottom: 5px; }
              .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message .header a {
                text-decoration: underline; }
              .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message .header .date {
                font-size: 11px; }
              .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message .header .from {
                font-size: 13px;
                display: inline-block;
                width: 70px; }
              .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message .header .from.user {
                font-size: 13px;
                display: inline-block;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message p.text {
              font-size: 14px;
              margin: 0; }
            .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message img.preview {
              height: 100px;
              width: 100px;
              border-radius: 5px; }
              .chatstik .chat_wrapper .chat_box .chat_box_body ul li .message img.preview:hover {
                cursor: pointer; }
        .chatstik .chat_wrapper .chat_box .chat_box_body ul li.left .message {
          background-color: #fff; }
          .chatstik .chat_wrapper .chat_box .chat_box_body ul li.left .message:before {
            position: absolute;
            top: 10px;
            left: -8px;
            display: inline-block;
            background: #fff;
            width: 16px;
            height: 16px;
            border-top: 1px solid #f1f5fc;
            border-left: 1px solid #f1f5fc;
            content: '';
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg); }
        .chatstik .chat_wrapper .chat_box .chat_box_body ul li.right .message {
          background-color: #fff; }
          .chatstik .chat_wrapper .chat_box .chat_box_body ul li.right .message:before {
            position: absolute;
            top: 10px;
            right: -8px;
            display: inline-block;
            background: #fff;
            width: 16px;
            height: 16px;
            border-top: 1px solid #f1f5fc;
            border-right: 1px solid #f1f5fc;
            content: '';
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg); }
          .chatstik .chat_wrapper .chat_box .chat_box_body ul li.right .message .header {
            text-align: right; }
          .chatstik .chat_wrapper .chat_box .chat_box_body ul li.right .message p {
            text-align: right; }
    .chatstik .chat_wrapper .chat_box .chat_box_footer {
      background: #f9f9f9;
      border: 1px solid #eee;
      padding: 5px;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease; }
      .chatstik .chat_wrapper .chat_box .chat_box_footer .sendImageDirective {
        position: absolute;
        top: 0px;
        z-index: 9;
        left: 0px; }
      .chatstik .chat_wrapper .chat_box .chat_box_footer .message_text {
        height: 100px; }
      .chatstik .chat_wrapper .chat_box .chat_box_footer .send {
        padding: 37px 32px;
        border-radius: 3px; }
    .chatstik .chat_wrapper .chat_box .primary-font {
      color: #3c8dbc; }
    .chatstik .chat_wrapper .chat_box a:hover {
      text-decoration: none;
      outline: 0; }
    .chatstik .chat_wrapper .chat_box a:active {
      text-decoration: none;
      outline: 0; }
    .chatstik .chat_wrapper .chat_box a:focus {
      text-decoration: none;
      outline: 0; }

@media (max-width: 600px) {
  .chat_wrapper .chat_box .chat_box_header .chatRoomName {
    text-align: left !important;
    margin: 10px 0px; }
  .chat_wrapper .chat_box .chatroom_users_wrapper {
    display: none; } }

/*# sourceMappingURL=app.css.map */
