$color_warning: #f0ad4e;
$color_success: #5cb85c;
$color_danger: #d9534f;
.popover {
	border-radius: 3px;
}
.chatstik {
    font-family: 'Raleway', sans-serif;
	.typed-cursor {
		display: none;
	}
	.dropdown-menu {
		li {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.chatroom_success_message {
		padding: 20px;
		margin: 20px;
		border-radius: 0px;
		margin-bottom: 50px;
	}
	.modal-content {
		.modal-header {
			padding: 5px 15px 5px 15px;
			border-bottom: 1px solid #e5e5e5;
			background: #f2f2f2;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			.close {
				margin-top: 6px;
			}
		}
	}
	.imageFromModal {
		.preview {
			width: 200px;
			height: 200px;
			border-radius: 5px;
		}
	}
    header {
	height: 50px;
	background: #2C3E50;
	margin-bottom: 10px;
	box-shadow: 0 0 5px #333;
	.logo {
	    color: #fff;
	    font-family: cursive;
	    font-size: 28px;
	    padding-top: 4px;
		display: inline-block;
	}
	&:hover {
	    cursor: pointer;
	}
	    .userName {
		    color: #fff;
		    text-align: right;
		    margin-top: 14px;
		    font-weight: bold;
	    }
    }
    .home_wrapper {
	background: url(/resources/chatstik/styles/images/wallpaper.jpg);
	height: 650px;
	background-size: 400px;
	margin-top: -10px;
	.start_chat {
		margin-top: 100px;
	    font-size: 20px;
	}
	.agreement {
	    label {
		margin-left: 10px;
	    }
	}
	    .type_introduction {
		    width: 100%;
		    height: 65px;
		    /* background: #E57373; */
		    color: #000;
		    text-align: center;
		    padding-top: 16px;
		    font-size: 30px;
		    /* text-decoration: underline; */
		    margin-top: 20px;
		    border-bottom: 1px solid #333;
		    padding-bottom: 10px;
	    }
    }
    .chat_wrapper {
	font-family: 'Raleway', sans-serif;
	    .shareChatRoom {
		    textarea {
			    border: 1px solid #ccc;
			    resize: none;
			    width: 225px;
			    padding: 10px;
			    font-size: 12px;
			    margin: 10px;
		    }
	    }
    .chatroom_users_wrapper {
	    .chatroom_users_header {
		    width: 100%;
		    background: #f9f9f9;
		    border: 1px solid #eee;
		    padding: 15px;
	    }
	    .chatroom_users_body {
		    border: 1px solid #eee;
		    border-top: none;
		    overflow: auto;
		    padding-top: 5px;
		    min-height: 400px;
		    .user {
			    padding: 10px;
			    background: #fff;
			    border-bottom: 1px solid #eee;
		    }
		    .user:nth-child(odd) {
			    background: #f2f2f2;
		    }
	    }
    }
	.chat_box {
	    .bg-white {
		background-color: #fff;
	    }
	    .chat_box_header {
		width: 100%;
		background: #f9f9f9;
		border: 1px solid #eee;
		padding: 15px;
		padding-left: 20px;
		.status_icon {
		    float: left;
		    img {
			width: 25px;
			height: 25px;
			margin-top: -7px;
			margin-right: 10px;
		    }
		}
		.status_text {
		    margin-left: 20px;
		    margin-top: -2px;
		    font-size: 13px;
		}
		    .chatRoomName {
			    text-align: center;
		    }
	    }
	    .chat_box_body {
		padding: 20px;
		border: 1px solid #eee;
		border-top: none;
		border-bottom: none;
		overflow: auto;
		padding-top: 5px;
	    min-height: 400px;
		.alert {
		    padding: 5px;
		    margin-bottom: 0px;
		}
		ul {
		    list-style: none;
		    margin: 0;
		    padding: 0px;
		    li {
			.message {
			    position: relative;
			    font-size: 11px;
			    padding: 10px;
			    border: 1px solid #f1f5fc;
			    word-wrap: break-word;
				padding-bottom: 0px;
			    .header {
				font-size: 15px;
				padding-bottom: 5px;
				    a {
					    text-decoration: underline;
				    }
				.date {
				    font-size: 11px;
				}
				.from {
				    font-size: 13px;
				    display: inline-block;
				    width: 70px;
				}
				    .from.user {
					    font-size: 13px;
					    display: inline-block;
					    width: 150px;
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
				    }
			    }
			    p.text {
				font-size: 14px;
				margin: 0;
			    }
				img.preview {
					height: 100px;
					width: 100px;
					border-radius: 5px;
					&:hover {
						cursor: pointer;
					}
				}
			}
			margin: 5px 0;
		    }
		    li.left {
			.message {
			    background-color: #fff;
			    &:before {
				position: absolute;
				top: 10px;
				left: -8px;
				display: inline-block;
				background: #fff;
				width: 16px;
				height: 16px;
				border-top: 1px solid #f1f5fc;
				border-left: 1px solid #f1f5fc;
				content: '';
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
			    }
			}
		    }
		    li.right {
			.message {
			    &:before {
				position: absolute;
				top: 10px;
				right: -8px;
				display: inline-block;
				background: #fff;
				width: 16px;
				height: 16px;
				border-top: 1px solid #f1f5fc;
				border-right: 1px solid #f1f5fc;
				content: '';
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
			    }
			    .header {
				text-align: right;
			    }
			    p {
				text-align: right;
			    }
			    background-color: #fff;
			}
		    }
		}
	    }
	    .chat_box_footer {
		background: #f9f9f9;
		border: 1px solid #eee;
		padding: 5px;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;

	    .sendImageDirective {
		    position: absolute;
		    top: 0px;
		    z-index: 9;
		    left: 0px;
	    }
		.message_text {
		    height: 100px;
		}
		.send {
		    padding: 37px 32px;
		    border-radius: 3px;
		}
	    }
	    .primary-font {
		color: #3c8dbc;
	    }
	    a {
		&:hover {
		    text-decoration: none;
		    outline: 0;
		}
		&:active {
		    text-decoration: none;
		    outline: 0;
		}
		&:focus {
		    text-decoration: none;
		    outline: 0;
		}
	    }
	}
    }
}
@media (max-width: 600px) {
	.chat_wrapper {
		.chat_box {
			.chat_box_header {
					.chatRoomName {
						text-align: left !important;
						margin: 10px 0px;
					}
				}
			.chatroom_users_wrapper {
				display: none;
			}
			}
	}
}