<!DOCTYPE html>
<html ng-app="chatstik_admin">
<head>
	<meta charset="utf-8" />
	<base href="/">
	<title>Chatstik: Admin Console</title>
	<link rel="icon" type="image/png" href="/resources/chatstik/styles/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/resources/chatstik/styles/lib/bootstrap.min.css" rel="stylesheet"/>
	<link href="/resources/chatstik/styles/app/sass/app.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script>
		var server = {};
		server.host = <%- JSON.stringify(host) %>;
		server.api = <%- JSON.stringify(api) %>;
	</script>
	<script src="/resources/chatstik/scripts/lib/jquery.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/bootstrap.js"></script>
	<script src="/resources/chatstik/scripts/lib/bootstrap.notify.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/angular.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/angular-ui-router.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="/resources/chatstik/scripts/admin/app.js"></script>
	<script src="/resources/chatstik/scripts/admin/services/service.authService.js"></script>
	<script src="/resources/chatstik/scripts/admin/services/service.notifyService.js"></script>
	<script src="/resources/chatstik/scripts/admin/controllers/console.controller.js"></script>
	<script src="/resources/chatstik/scripts/admin/controllers/login.controller.js"></script>

</head>
<body class="chatstik">
<ui-view></ui-view>
</html>