<!DOCTYPE html>
<html ng-app="chatstik">
<head>
	<meta charset="utf-8" />
	<base href="/">
	<title>Chatstik: Talk to strangers!</title>
	<link rel="manifest" href="/manifest.json">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Chatstik: Talk to strangers!">
	<meta property="og:description" content="Your friends are boring. Strangers are better.">
	<meta property="og:url" content="http://www.chatstik.com/">
	<meta property="og:site_name" content="Chatstik">
	<meta itemprop="name" content="Chatstik: Talk to strangers!">
	<meta itemprop="description" content="Chat is a great place to meet new friends. When you use Chatstik, we pick another user at random and let you have a one-on-one chat with each other.">
	<link rel="icon" type="image/png" href="/resources/chatstik/styles/images/favicon.ico">
	<link rel="canonical" href="http://www.chatstik.com/">
	<meta name="description" content="The Internet is full of cool people; Chatstik lets you meet them. When you use Chatstik, we pick someone else at random so you can have a one-on-one chat.">
	<meta name="keywords" content="free, private, chat, mobile, group, room, file, image, secure, chatstik, privacy, public, embed, online, share, drag, drop, stranger, random">
	<link rel="shortcut icon" type="image/ico" href="/resources/chatstik/styles/images/favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-105358181-1', 'auto');
		ga('send', 'pageview');

	</script>

	<link href="/resources/chatstik/styles/lib/bootstrap.min.css" rel="stylesheet"/>
	<link href="/resources/chatstik/styles/app/sass/app.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="/resources/chatstik/scripts/lib/jquery.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/bootstrap.js"></script>
	<script src="/resources/chatstik/scripts/lib/typed.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/angular.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/angular-ui-router.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="/resources/chatstik/scripts/lib/socket.io.js"></script>
	<script src="/resources/chatstik/scripts/app/app.js"></script>
	<script src="/resources/chatstik/scripts/app/directives/directive.autoSizeChatBox.js"></script>
	<script src="/resources/chatstik/scripts/app/directives/directive.sendImage.js"></script>
	<script src="/resources/chatstik/scripts/app/services/service.audioPlayer.js"></script>
	<script src="/resources/chatstik/scripts/app/services/service.userService.js"></script>
	<script src="/resources/chatstik/scripts/app/services/service.chatRoomService.js"></script>
	<script src="/resources/chatstik/scripts/app/services/service.utilHelpers.js"></script>
	<script src="/resources/chatstik/scripts/app/controllers/root.controller.js"></script>
	<script src="/resources/chatstik/scripts/app/controllers/home.controller.js"></script>
	<script src="/resources/chatstik/scripts/app/controllers/chat.controller.js"></script>
	<script src="/resources/chatstik/scripts/app/controllers/chatroom.controller.js"></script>

	<script type="text/ng-template" id="createChatRoom.html">
		<div class="modal-header">
		<button type="button" class="close" ng-click="close()">x</button>
		<h4>Create chat room</h4>
		</div>
		<div class="modal-body">
			<form ng-if="!chatRoom.created">
				<label>Chat Room Name</label>
				<p><input type="text" class="form-control" placeholder="Room name" ng-model="chatRoom.name"></p>
				<label>Type</label>
				<div class="radio">
					<label><input type="radio" name="optradio" ng-model="chatRoom.type" value="public">Public</label>
					<label style="margin-left: 15px"><input type="radio" name="optradio" ng-model="chatRoom.type" value="private">Private</label>
				</div>
				<div ng-if="chatRoom.type == 'private'">
					<label>Password</label>
					<p><input type="text" class="form-control" placeholder="Password" ng-model="chatRoom.password"></p>
				</div>
			</form>
		</div>
		<div class="modal-footer" ng-if="!chatRoom.created">
			<button class="btn btn-primary" ng-disabled="!chatRoom.name || (chatRoom.type == 'private' && !chatRoom.password)" ng-click="createChatRoom()">Create</button>
		</div>
		<div class="alert alert-success chatroom_success_message" ng-if="chatRoom.created">
			{{chatRoom.url}}
			<button class="btn btn-primary btn-xs btn-block" ng-click="copyURL()" style="margin-top: 20px;">Copy URL</button>
			<button class="btn btn-success btn-xs btn-block" ng-click="joinChatRoom()">Join Room</button>
		</div>
	</script>

	<script type="text/ng-template" id="joinChatRoom.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">x</button>
			<h4>Available chat rooms</h4>
		</div>
		<div class="modal-body" style="max-height: 500px;overflow-y: auto">
			<div class="alert alert-danger fade in" ng-if="chatrooms.length == 0">
				No chatroom's available.
			</div>
			<div ng-repeat="room in chatrooms track by $index" style="padding: 10px;border-bottom: 1px solid #f2f2f2">
				<div class="row">
					<div class="col-sm-7">
						{{room.name}}
					</div>
					<div class="col-sm-3" ng-if="room.users.length == 0">
						No user's online
					</div>
					<div class="col-sm-3" ng-if="room.users.length == 1">
						{{room.users.length}} user online
					</div>
					<div class="col-sm-3" ng-if="room.users.length > 1">
						{{room.users.length}} user's online
					</div>
					<div class="col-sm-2">
						<button class="btn btn-xs btn-primary pull-right" ng-click="join(room)">Join</button>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="shareChatRoom.html">
		<div class="shareChatRoom">
			<textarea>{{chatRoom.url}}</textarea>
		</div>
	</script>

	<script type="text/ng-template" id="askUserName.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">x</button>
			<h4>User Details</h4>
		</div>
		<div class="modal-body">
			<form>
				<label>Nick Name</label>
				<p><input type="text" class="form-control" placeholder="Name" ng-model="user.name"></p>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="!user.name" ng-click="save()">Save</button>
		</div>
	</script>

	<script type="text/ng-template" id="verifyChatRoomPassword.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">x</button>
			<h4>This Chat room is password protected</h4>
		</div>
		<div class="modal-body">
			<form>
				<label>Password</label>
				<p><input type="text" class="form-control" placeholder="********" ng-model="password"></p>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="!password" ng-click="continue()">Continue</button>
		</div>
		<div class="alert alert-warning" ng-if="incorrectPassword">Incorrect Password.</div>
	</script>

</head>
<body class="chatstik" ng-controller="rootController">
<header class="app_header">
	<div class="col-xs-12">
		<div class="col-xs-4">
			<div class="logo" ui-sref="home">chatstik</div>
		</div>
		<div class="col-xs-4">

		</div>
		<div class="col-xs-4 userName">
			<!--<div ng-click="userService.askUserName()">{{user.name}}</div>-->
		</div>
	</div>
</header>
<ui-view></ui-view>
<!-- Hotjar Tracking Code for http://chatstik.com -->
<script>
	(function(h,o,t,j,a,r){
		h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		h._hjSettings={hjid:624922,hjsv:5};
		a=o.getElementsByTagName('head')[0];
		r=o.createElement('script');r.async=1;
		r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		a.appendChild(r);
	})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
	var OneSignal = window.OneSignal || [];
	OneSignal.push(["init", {
		appId: "ab3cd836-94b2-4646-8023-649894a813f4",
		autoRegister: false,
		notifyButton: {
			enable: true /* Set to false to hide */
		}
	}]);
</script>
</body>
</html>