<div class="chat_wrapper" auto-size-chat-box>
    <div class="col-sm-12">
        <div class="row chat_box">
            <div class="col-sm-12 bg-white ">
                <div class="chat_box_header">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="status_symbol" ng-class="{waiting: connection.status == 'waiting', connected: connection.status == 'connected', disconnected: connection.status == 'disconnected'}"></div>
                            <div class="status_icon">
                        <span ng-if="connection.status == 'waiting'">
                            <img class="{{connection.status}}" src="/resources/chatstik/styles/images/waiting.gif"/>
                        </span>
                        <span ng-if="connection.status == 'connected'">
                            <img class="{{connection.status}}" src="/resources/chatstik/styles/images/connected.png"/>
                        </span>
                        <span ng-if="connection.status == 'disconnected'">
                            <img class="{{connection.status}}" src="/resources/chatstik/styles/images/disconnected.png"/>
                        </span>
                            </div>
                            <div class="status_text">
                                {{connection.status}} <span ng-if="stranger.location.country_name">- {{stranger.location.country_name}}</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary pull-right btn-xs" ng-click="connect()" ng-if="connection.status == 'disconnected'">Connect</button>
                            <button class="btn btn-warning pull-right btn-xs" ng-click="disconnect()" ng-if="connection.status == 'connected'">Disconnect</button>
                        </div>
                    </div>
                </div>
                <div class="chat_box_body">
                    <div class="alert alert-info fade in" ng-if="connection.status == 'waiting'">
                        Waiting for a stranger .....
                    </div>
                    <div class="alert alert-success fade in" ng-if="connection.status == 'connected'">
                        Connected to stranger . please say hello...
                    </div>
                    <ul>
                        <li class="left clearfix" ng-repeat="msg in messages track by $index">
                            <div class="message clearfix">
                                <div class="header">
                                    <strong class="from primary-font" ng-if="msg.from != 'me'">Stranger - </strong>
                                    <strong class="from primary-font" ng-if="msg.from == 'me'">You - </strong>
                                    <span ng-if="msg.type == 'text'">{{msg.text}}</span>
                                    <a ng-if="msg.type == 'link'" href="{{msg.text}}" target="_blank">{{msg.text}}</a>
                                    <img ng-click="openImage(msg.image.url);" class="preview" ng-if="msg.type == 'image' && msg.image.type == 'url'" ng-src="{{msg.image.url}}"/>
                                    <img class="preview" ng-if="msg.type == 'image' && msg.image.type == 'cam'" ng-src="{{msg.image.url}}" target="_blank"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="alert alert-danger fade in" ng-if="connection.status == 'disconnected'">
                        Chat Disconnected. Click on connect to start a new conversation
                    </div>
                </div>
                <div class="chat_box_footer bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <div class="input-group">
                                    <send-image class="sendImageDirective" callback="sendImage(image)" ng-if="connection.status == 'connected'"></send-image>
                                    <input class="form-control border no-shadow no-rounded message_text" ng-model="message.text">
            		<span class="input-group-btn">
            			<button class="btn btn-primary btn-lg send" type="submit" ng-click="sendMessage()" ng-disabled="connection.status != 'connected'">Send</button>
            		</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>