<div class="chat_wrapper" auto-size-chat-box>
    <div class="col-sm-12">
        <div class="row chat_box">
            <div class="col-sm-12 bg-white ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-2" style="padding: 0px;margin-right: -1px">
                            <div class="chatroom_users_wrapper">
                                <div class="chatroom_users_header">
                                    Users ( {{chatRoom.users.length}} )
                                </div>
                                <div class="chatroom_users_body">
                                    <div class="user" ng-repeat="user in chatRoom.users track by $index">
                                        {{user.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10" style="padding: 0px;">
                            <div class="chat_box_header">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="status_symbol" ng-class="{waiting: connection.status == 'waiting', connected: connection.status == 'connected', disconnected: connection.status == 'disconnected'}"></div>
                                        <div class="status_icon">
                    <span ng-if="connection.status == 'waiting'">
                        <img class="{{connection.status}}" src="/resources/chatstik/styles/images/waiting.gif"/>
                    </span>
                    <span ng-if="connection.status == 'connected'">
                        <img class="{{connection.status}}" src="/resources/chatstik/styles/images/connected.png"/>
                    </span>
                    <span ng-if="connection.status == 'disconnected'">
                        <img class="{{connection.status}}" src="/resources/chatstik/styles/images/disconnected.png"/>
                    </span>
                                        </div>
                                        <div class="status_text">
                                            {{connection.status}}
                                        </div>
                                    </div>
                                    <div class="col-sm-7 chatRoomName">
                                        {{chatRoom.name}}
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-primary pull-right btn-xs" ng-click="connect()" ng-if="connection.status == 'disconnected'">Connect</button>
                                        <button class="btn btn-warning pull-right btn-xs" ng-click="disconnect()" ng-if="connection.status == 'connected'">Disconnect</button>
                                        <button style="margin-right: 10px" class="btn btn-primary btn-xs pull-right" ng-if="chatRoom.valid" popover-placement="bottom" uib-popover-template="'shareChatRoom.html'" popover-trigger="'outsideClick'">Share Chatroom</button>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_box_body">
                                <div class="alert alert-info fade in" ng-if="connection.status == 'waiting'">
                                    Joining the room .....
                                </div>
                                <div class="alert alert-success fade in" ng-if="connection.status == 'connected'">
                                    Joined the room . please say hello...
                                </div>
                                <ul>
                                    <li class="left clearfix" ng-repeat="msg in messages track by $index">
                                        <div class="message clearfix">
                                            <div class="header">
                                                <strong class="from primary-font user">{{msg.from}}</strong>
                                                <span ng-if="msg.type == 'text'">{{msg.text}}</span>
                                                <a ng-if="msg.type == 'link'" href="{{msg.text}}" target="_blank">{{msg.text}}</a>
                                                <img ng-click="openImage(msg.image.url);" class="preview" ng-if="msg.type == 'image' && msg.image.type == 'url'" ng-src="{{msg.image.url}}"/>
                                                <img class="preview" ng-if="msg.type == 'image' && msg.image.type == 'cam'" ng-src="{{msg.image.url}}" target="_blank"/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="alert alert-danger fade in" ng-if="connection.status == 'disconnected' && chatRoom.valid">
                                    Disconnected from chatroom. Click on connect to join the room again
                                </div>
                                <div class="alert alert-danger fade in" ng-if="connection.status == 'disconnected' && !chatRoom.valid">
                                    invalid chatroom id
                                </div>
                            </div>
                            <div class="chat_box_footer bg-white">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form>
                                            <div class="input-group">
                                                <send-image class="sendImageDirective" callback="sendImage(image)" ng-if="connection.status == 'connected'"></send-image>
                                                <input class="form-control border no-shadow no-rounded message_text" ng-model="message.text">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg send" type="submit" ng-click="sendMessage()" ng-disabled="connection.status != 'connected'">Send</button>
                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <play-audio src="/resources/chatstik/audio/message.mp3" play-when="messageReceived"></play-audio>
</div>