<div class="home_wrapper">
    <div class="home_message">
        <div class="col-xs-12">
            <div class="col-md-6 col-md-offset-3">
                <div class="type_introduction"></div>
            </div>
        </div>
        <div class="col-xs-12 start_chat">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-block" ui-sref="chat" ng-disabled="!agreed">Stranger Chat</button>
                <!--<button class="btn btn-warning btn-block" ng-disabled="!agreed" ng-click="openChatRoomModal()">Create chat room</button>-->
                <button class="btn btn-warning btn-block" ng-disabled="!agreed" ng-click="joinChatRoomModal()">Join chat room</button>
                <a href='https://play.google.com/store/apps/details?id=io.chatstik.app' class="btn btn-success btn-block">Get Mobile App on Google Play</a>
            </div>
        </div>
    </div>
</div>